/* line 60, ../sass/screen.scss */
.icon {
  display: block;
  float: left;
  margin-right: 5px;
  background-color: #417ab4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 73, ../sass/screen.scss */
.icon.icon-Cow {
  height: 48px;
  width: 48px;
  background-image: url('/images/icons-s8e7850b309.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 43, ../sass/screen.scss */
  .icon.icon-Cow {
    background-image: url('/images/icons@2x-s1ec215983d.png');
    background-position: 0 0;
    -webkit-background-size: 424px auto;
    -moz-background-size: 424px auto;
    -o-background-size: 424px auto;
    background-size: 424px auto;
  }
}
/* line 73, ../sass/screen.scss */
.icon.icon-Fire {
  height: 48px;
  width: 48px;
  background-image: url('/images/icons-s8e7850b309.png');
  background-position: -58px 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 43, ../sass/screen.scss */
  .icon.icon-Fire {
    background-image: url('/images/icons@2x-s1ec215983d.png');
    background-position: -106px 0;
    -webkit-background-size: 424px auto;
    -moz-background-size: 424px auto;
    -o-background-size: 424px auto;
    background-size: 424px auto;
  }
}
/* line 73, ../sass/screen.scss */
.icon.icon-Leaf {
  height: 48px;
  width: 48px;
  background-image: url('/images/icons-s8e7850b309.png');
  background-position: -116px 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 43, ../sass/screen.scss */
  .icon.icon-Leaf {
    background-image: url('/images/icons@2x-s1ec215983d.png');
    background-position: -212px 0;
    -webkit-background-size: 424px auto;
    -moz-background-size: 424px auto;
    -o-background-size: 424px auto;
    background-size: 424px auto;
  }
}
/* line 73, ../sass/screen.scss */
.icon.icon-Nuke {
  height: 48px;
  width: 48px;
  background-image: url('/images/icons-s8e7850b309.png');
  background-position: -174px 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 43, ../sass/screen.scss */
  .icon.icon-Nuke {
    background-image: url('/images/icons@2x-s1ec215983d.png');
    background-position: -318px 0;
    -webkit-background-size: 424px auto;
    -moz-background-size: 424px auto;
    -o-background-size: 424px auto;
    background-size: 424px auto;
  }
}
/* line 73, ../sass/screen.scss */
.icon.icon-Sun {
  height: 48px;
  width: 48px;
  background-image: url('/images/icons-s8e7850b309.png');
  background-position: -232px 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 43, ../sass/screen.scss */
  .icon.icon-Sun {
    background-image: url('/images/icons@2x-s1ec215983d.png');
    background-position: -424px 0;
    -webkit-background-size: 424px auto;
    -moz-background-size: 424px auto;
    -o-background-size: 424px auto;
    background-size: 424px auto;
  }
}
/* line 73, ../sass/screen.scss */
.icon.icon-Water {
  height: 48px;
  width: 48px;
  background-image: url('/images/icons-s8e7850b309.png');
  background-position: -290px 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 43, ../sass/screen.scss */
  .icon.icon-Water {
    background-image: url('/images/icons@2x-s1ec215983d.png');
    background-position: -530px 0;
    -webkit-background-size: 424px auto;
    -moz-background-size: 424px auto;
    -o-background-size: 424px auto;
    background-size: 424px auto;
  }
}
/* line 73, ../sass/screen.scss */
.icon.icon-Wind {
  height: 48px;
  width: 48px;
  background-image: url('/images/icons-s8e7850b309.png');
  background-position: -348px 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 43, ../sass/screen.scss */
  .icon.icon-Wind {
    background-image: url('/images/icons@2x-s1ec215983d.png');
    background-position: -636px 0;
    -webkit-background-size: 424px auto;
    -moz-background-size: 424px auto;
    -o-background-size: 424px auto;
    background-size: 424px auto;
  }
}
/* line 73, ../sass/screen.scss */
.icon.icon-Wood {
  height: 48px;
  width: 48px;
  background-image: url('/images/icons-s8e7850b309.png');
  background-position: -406px 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
  /* line 43, ../sass/screen.scss */
  .icon.icon-Wood {
    background-image: url('/images/icons@2x-s1ec215983d.png');
    background-position: -742px 0;
    -webkit-background-size: 424px auto;
    -moz-background-size: 424px auto;
    -o-background-size: 424px auto;
    background-size: 424px auto;
  }
}

/* line 82, ../sass/screen.scss */
.icon:hover {
  background-color: #6a9a32;
}
